@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

/**  the scope the custom properties can be used in **/
:root {
  /** TEXT **/
  --main-font: "Lalezar", cursive;
  --base-font-size: 18px;
  --text-color-black: #black;
  --text-color-white: #white;
  --heading-color: var(--main-dark);

  /** COLORS **/
  --main-dark: #10192b;
  --main-light: #ADD8E6;
  --main-accent: #5c90b5;
  --main-lighter: #de8fb5;

  /** UTILITIES **/
  --light-border: solid 0.4em var(--main-light);
}
