.taskDropdown {
  margin: 60px;
}
.home-calendar{
  margin-top: 10px;
  width: 130%;
  transform: scale(0.75);
  position: relative;
  left: -20%;
  background-color: var(--main-light);
}
.form-button-arrangement{
  font-size: 30px;
  width: 15rem;
  background-color: var(--main-light);
  border: solid 4px var(--text-color-black);

  color: var(--text-color-black);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}
.form-button-tasks{
  font-size: 18px;
  width: 5rem;
  background-color: var(--main-light);
  border: solid 4px var(--text-color-black);

  color: var(--text-color-black);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
  position: absolute;
  top: 85%;
  right: 2%;
}
.form-button-companies{
  font-size: 15px;
  width: 6rem;
  background-color: var(--main-light);
  border: solid 4px var(--text-color-black);

  color: var(--text-color-black);
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
  position: absolute;
  top: 70%;
  right: 2%;
}
.modal{
  position: absolute;
  width: 50%;
  background-color: aqua;
}
.first-section{
  position: relative; 
  left: -5%;
  width: 20%;
}
.section-one-space{
  position: absolute;
  top: -20%;
  size: 20%;
}
.third-section{
  width: 15%;
  transform: scale(0.8);
}
