.taskDropdown {
  margin: 60px;
}
.calendar-container{
  position: relative;
  top: -120px;
  height: 80%;
}
.home-calendar{
  margin-top: 10px;
  width: 130%;
  transform: scale(0.75);
  position: relative;
  left: -18%;
  background-color: var(--main-light);
}
.form-button3{
  margin-top: 15px;
  font-size: 20px;
  width: 150px;
  background-color: var(--main-light);
  border: solid 4px var(--text-color-black);

  color: var(--text-color-black);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}

.form-button-arrangement{
  margin: 5px;
  font-size: 23px;
  width: 15rem;
  background-color: var(--main-light);
  border: solid 4px var(--text-color-black);

  color: var(--text-color-black);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}
.home-buttons{
  width: 7%;
  transform: scale(0.8);
}
.modal{
  position: absolute;
  margin-top: 200px;
  margin-left: 30%;
  width: 40%;
}
.popup-card{
  background-color: var(--main-dark);
  color: white;
}
.first-section{
  border-color: black;
  border-width: 3px;
  padding: 3px;
  border-style: dashed;
  position: relative; 
  left: -3%;
  width: 23%;
  top: 10%;
}
.section-one-space{
  position: absolute;
  top: -30%;
  size: 20%;
}
.section-zero-space{
  position: absolute;
  top: -60%;
  size: 20%;
}
.third-section{
  border-color: black;
  border-width: 3px;
  padding-bottom: 10px;
  border-style: dashed;

  position: relative;
  width: 17%;
  transform: scale(0.8);
}
