.taskDropdown {
  margin: 60px;
}
.home-calendar{
  margin-top: 10px;
  transform: scale(0.75);
  background-color: var(--main-light);
}
.modal{
  position: absolute;
  width: 50%;
  background-color: aqua;
}
