.profile-info{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 90%;
    font-size: 1rem;
}
.profile-post{
    font-size: 1rem;
}
.form-button2{
    width: 66%;
    margin: 0.5rem;
    font-size: 1.2rem;
}
.tasks{
    position: relative;
    left: 20%;
    top: -5%;
}
.company-add{
    position: relative;
    width: 100%;
    right: 30%;
}
.task-section{
  border-color: black;
  border-width: 3px;
  border-style: dashed;

    position: relative;
    right: -15%;
    width: 65%;
}
.arrangements-button{
    width: 30%;
    position: absolute;
    bottom: 10%;
    left: 2%;
    transform: scale(0.7);
}
.sector-button{
    color: black;
    width: 90%;
    font-size: 2rem;
    position: absolute;
    left: -13%;
    bottom: 6%;
    transform: scale(0.6);
}
.company-button{
    color: black;
    width: 90%;
    font-size: 2rem;
    position: absolute;
    left: -13%;
    bottom: 70%;
    transform: scale(0.6);
}
.more-buttons{
    flex-direction: row;
}
.form-button-work{
    position: absolute;
    transform: scale(0.7);
    bottom: -3%;
}
.taskGrid{
    transform: scale(0.8);
    display: flex;
}