.companyGrid {
    transform: scale(0.8);
    display: inline-grid;
    grid-auto-columns: 3;
    width: 80%;
    height: 110%;
}
.buttons{
    flex-direction: row;
    display: flex;
    width: 150%;
}
.company-item{
    padding: 1rem;
}
.more-buttons{
    padding: 0.5rem;
  background-color: var(--main-accent);
}